In [76]:
%load_ext autoreload
%autoreload 2 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
import findspark
findspark.init()

In [3]:
from random import random
from operator import add
from pyspark.sql import SparkSession
import pandas as pd


DATA_DIR = '/home/bob/gtd/Iconic/data/samples/'

In [120]:
affs_country = pd.read_csv('/home/bob/gtd/Iconic/data/Affiliations_FC.txt', sep = '\t')
affs_country = affs_country.drop(columns = ['Unnamed: 0'])
# affs_country['country'] = affs_country['country'].astype(str).apply(lambda string : string[1:-1].replace("'",""))
# affs_country['countryCode'] = affs_country['country'].apply(lambda string : "".join(string.split(',')[:-1]))
# affs_country['country'] = affs_country['country'].apply(lambda string : "".join(string.split(',')[-1:]))

In [121]:
affs_country

,id,rank,name,dname,grid,page,wiki,papers,citations,created_at,country,countryCode
0,20455151,9759,air liquide,Air Liquide,grid.476009.c,https://web.archive.org/web/20100205175402/htt...,http://en.wikipedia.org/wiki/Air_Liquide,6314,44828,2016-06-24,Grande Prairie,CAN
1,24386293,13640,hellenic national meteorological service,Hellenic National Meteorological Service,NaN,http://www.hnms.gr/hnms/english/index_html,http://en.wikipedia.org/wiki/Hellenic_National...,81,1531,2016-06-24,South East,BWA
2,32956416,13117,catholic university of the west,Catholic University of the West,grid.448708.7,http://www.uco.fr/,http://en.wikipedia.org/wiki/Catholic_Universi...,236,2565,2016-06-24,Fort Worth,USA
3,35926432,12053,mackay medical college,Mackay Medical College,grid.452449.a,http://www.mmc.edu.tw/,http://en.wikipedia.org/wiki/Mackay_Medical_Co...,815,6080,2016-06-24,三芝區,TWN
4,37448385,11782,chinese people s public security university,Chinese People's Public Security University,NaN,http://www.ppsuc.edu.cn/,http://en.wikipedia.org/wiki/People's_Public_S...,1502,1195,2016-06-24,University,USA
5,37712293,13170,madeira interactive technologies institute,Madeira Interactive Technologies Institute,NaN,http://www.m-iti.org/,http://en.wikipedia.org/wiki/Madeira_Interacti...,296,1409,2016-06-24,Johannesburg,ZAF
6,42117203,16960,queen s college london,"Queen's College, London",NaN,http://www.qcl.org.uk/,"http://en.wikipedia.org/wiki/Queen's_College,_...",8,10,2016-06-24,London,GBR
7,50614327,11813,amec foster wheeler,Amec Foster Wheeler,grid.480159.1,http://www.amecfw.com/,http://en.wikipedia.org/wiki/Amec_Foster_Wheeler,951,7423,2016-06-24,Chennai,IND
8,62987803,16029,ukrainian state university of finance and inte...,Ukrainian State University of Finance and Inte...,grid.445773.6,http://usufit.edu.ua/,http://en.wikipedia.org/wiki/Ukrainian_State_U...,21,18,2016-06-24,Xalapa,MEX
9,71576600,14540,ural state mining university,Ural State Mining University,grid.446243.3,http://www.ursmu.ru/,http://en.wikipedia.org/wiki/Ural_State_Mining...,89,78,2016-06-24,University,USA
10,76806421,12860,selex sistemi integrati,SELEX Sistemi Integrati,grid.9371.c,http://www.leonardocompany.com//,http://en.wikipedia.org/wiki/SELEX_Sistemi_Int...,353,1799,2016-06-24,București,ROU
11,78757542,7472,university of newcastle,University of Newcastle,grid.266842.c,http://www.newcastle.edu.au/,http://en.wikipedia.org/wiki/University_of_New...,41529,872022,2016-06-24,Sydney,AUS
12,80046288,10235,walden university,Walden University,grid.412868.1,http://www.waldenu.edu/,http://en.wikipedia.org/wiki/Walden_University,3392,14419,2016-06-24,Minneapolis,USA
13,81020251,14245,great lakes institute of management,Great Lakes Institute of Management,grid.464927.a,NaN,NaN,103,713,2016-06-24,Manesar Sub-District,IND
14,83776822,11597,shandong institute of business and technology,Shandong Institute of Business and Technology,grid.443652.2,http://www.sdibt.edu.cn/,http://en.wikipedia.org/wiki/Shandong_Institut...,1728,2280,2016-06-24,Rajshahi,BGD
15,84117484,17148,college boreal,Collège Boréal,grid.421295.9,http://www.collegeboreal.ca/,http://en.wikipedia.org/wiki/Collège_Boréal,7,11,2016-06-24,Greater Sudbury,CAN
16,90303723,13674,scientific council for government policy,Scientific Council for Government Policy,grid.465268.b,http://www.wrr.nl/,http://en.wikipedia.org/wiki/Scientific_Counci...,72,2098,2016-06-24,,EGY
17,94975175,12116,des moines university,Des Moines University,grid.255049.f,http://www.dmu.edu/,http://en.wikipedia.org/wiki/Des_Moines_Univer...,554,8050,2016-06-24,Des Moines,USA
18,95198407,14679,helpage international,HelpAge International,NaN,http://www.helpage.org/,http://en.wikipedia.org/wiki/HelpAge_Internati...,31,545,2016-06-24,العبدلي,JOR
19,98720382,14643,american school of classical studies at athens,American School of Classical Studies at Athens,grid.461976.b,http://www.ascsa.edu.gr/,http://en.wikipedia.org/wiki/American_School_o...,62,418,2016-06-24,Bridgeport,USA
20,98899809,11548,national bank of belgium,National Bank of Belgium,grid.484482.6,http://www.nbb.be/,http://en.wikipedia.org/wiki/National_Bank_of_...,478,18551,2016-06-24,Antwerpen,BEL
21,118024222,14616,christ s hospital,Christ's Hospital,NaN,http://www.christs-hospital.org.uk/,http://en.wikipedia.org/wiki/Christ's_Hospital,22,499,2016-06-24,Horsham,GBR
22,121948355,14427,thanthai periyar government institute of techn...,Thanthai Periyar Government Institute of Techn...,NaN,http://www.tpgit.edu.in/,http://en.wikipedia.org/wiki/Thanthai_Periyar_...,94,261,2016-06-24,Vellore,IND
23,122655420,13707,penang medical college,Penang Medical College,grid.417196.c,http://www.pmc.edu.my/,http://en.wikipedia.org/wiki/Penang_Medical_Co...,122,1714,2016-06-24,Georgetown,MYS
24,126884977,9216,kansai medical university,Kansai Medical University,grid.410783.9,http://www.kmu.ac.jp/,http://en.wikipedia.org/wiki/Kansai_Medical_Un...,6964,131412,2016-06-24,Kansas City,USA
25,132349299,11995,idexx laboratories,Idexx Laboratories,grid.493313.f,http://www.idexx.com/,http://en.wikipedia.org/wiki/Idexx_Laboratories,649,8853,2016-06-24,Westbrook,USA
26,137612387,14459,korean register of shipping,Korean Register of Shipping,NaN,http://www.krs.co.kr/,http://en.wikipedia.org/wiki/Korean_Register_o...,70,481,2016-06-24,上環,HKG
27,151854742,12263,faculdade de medicina de marilia,Faculdade de Medicina de Marília,grid.419028.6,http://www.famema.br/,http://en.wikipedia.org/wiki/Faculdade_de_Medi...,709,3452,2016-06-24,Marília,BRA
28,154099455,7358,shandong university,Shandong University,grid.27255.37,http://www.sdu.edu.cn/,http://en.wikipedia.org/wiki/Shandong_University,76237,575100,2016-06-24,University,USA
29,158506100,17265,pennsylvania board of probation and parole,Pennsylvania Board of Probation and Parole,NaN,http://www.pbpp.state.pa.us/,http://en.wikipedia.org/wiki/Pennsylvania_Boar...,4,57,2016-06-24,,USA
...,...,...,...,...,...,...,...,...,...,...,...,...
25378,2800084297,14824,indian institute of management shillong,Indian Institute of Management Shillong,grid.473677.6,NaN,https://en.wikipedia.org/wiki/Indian_Institute...,62,251,2018-05-17,Shillong,IND
25379,2800125567,14539,polish air force academy,Polish Air Force Academy,grid.460650.1,NaN,https://en.wikipedia.org/wiki/Polish_Air_Force...,85,71,2018-05-17,Usaf Academy,USA
25380,2800418531,14637,genesis healthcare,Genesis HealthCare,grid.477305.2,NaN,https://en.wikipedia.org/wiki/Genesis_HealthCare,48,565,2018-05-17,Zanesville,USA
25381,2800520468,17063,kerala school of mathematics,Kerala School of Mathematics,grid.464938.4,NaN,https://en.wikipedia.org/wiki/Kerala_School_of...,8,3,2018-05-17,Kozhikode,IND
25382,2800696124,15379,ohio valley medical center,Ohio Valley Medical Center,grid.464646.2,NaN,https://en.wikipedia.org/wiki/Ohio_Valley_Medi...,22,285,2018-05-17,Wheeling,USA
25383,2800893951,17195,korea society,Korea Society,grid.469352.f,NaN,https://en.wikipedia.org/wiki/Korea_Society,4,30,2018-05-17,Ahmedabad,IND
25384,2801051830,15678,york general hospital,York General Hospital,grid.417378.e,NaN,https://en.wikipedia.org/wiki/York_General_Hos...,16,156,2018-05-17,York,USA
25385,2801279066,15891,duke regional hospital,Duke Regional Hospital,grid.461399.0,NaN,https://en.wikipedia.org/wiki/Durham_Regional_...,21,69,2018-05-17,Durham,USA
25386,2801388914,8633,southampton general hospital,Southampton General Hospital,grid.123047.3,NaN,https://en.wikipedia.org/wiki/Southampton_Gene...,7877,289121,2018-05-17,Southampton,GBR
25387,2801409098,12575,hartebeesthoek radio astronomy observatory,Hartebeesthoek Radio Astronomy Observatory,grid.470026.7,NaN,https://en.wikipedia.org/wiki/Hartebeesthoek_R...,188,2959,2018-05-17,Johannesburg,ZAF
25388,2801447382,16965,bethany lutheran college,Bethany Lutheran College,grid.454614.6,NaN,https://en.wikipedia.org/wiki/Bethany_Lutheran...,5,48,2018-05-17,Mankato,USA
25389,2801701990,17055,california state coastal conservancy,California State Coastal Conservancy,grid.448457.e,NaN,https://en.wikipedia.org/wiki/California_Coast...,6,28,2018-05-17,Irvine,USA
25390,2801789028,18611,east riding college,East Riding College,grid.468830.1,NaN,https://en.wikipedia.org/wiki/East_Riding_College,1,6,2018-05-17,Hull,GBR
25391,2801932852,15368,bangour village hospital,Bangour Village Hospital,grid.414199.0,NaN,https://en.wikipedia.org/wiki/Bangour_Village_...,16,292,2018-05-17,Pucarani,BOL
25392,2801966156,11909,tokyo metropolitan matsuzawa hospital,Tokyo Metropolitan Matsuzawa Hospital,grid.417102.1,NaN,https://en.wikipedia.org/wiki/Tokyo_Metropolit...,392,9954,2018-05-17,Paine,CHL
25393,2802037415,18438,robeson community college,Robeson Community College,grid.427333.2,NaN,https://en.wikipedia.org/wiki/Robeson_Communit...,2,1,2018-05-17,Lumberton,USA
25394,2802040150,10004,glenfield hospital,Glenfield Hospital,grid.412925.9,NaN,https://en.wikipedia.org/wiki/Glenfield_Hospital,1398,43527,2018-05-17,Leicester,GBR
25395,2802097991,19151,killeen independent school district,Killeen Independent School District,grid.472531.6,NaN,https://en.wikipedia.org/wiki/Killeen_Independ...,1,0,2018-05-17,Killeen,USA
25396,2802109968,15682,audie l murphy memorial va hospital,Audie L. Murphy Memorial VA Hospital,grid.414059.d,NaN,https://en.wikipedia.org/wiki/Audie_L._Murphy_...,13,209,2018-05-17,Davenport,USA
25397,2802258419,16222,baptist bible college,Baptist Bible College,grid.462065.3,NaN,https://en.wikipedia.org/wiki/Baptist_Bible_Co...,7,122,2018-05-17,Prakasam,IND
25398,2802282791,13064,king fahad specialist hospital,King Fahad Specialist Hospital,grid.415280.a,NaN,https://en.wikipedia.org/wiki/King_Fahad_Speci...,357,1138,2018-05-17,بريدة,SAU
25399,2802342083,16262,firelands regional medical center,Firelands Regional Medical Center,grid.428563.e,NaN,https://en.wikipedia.org/wiki/Firelands_Region...,16,28,2018-05-17,Sandusky,USA
25400,2802553197,17969,kaskaskia college,Kaskaskia College,grid.431203.7,NaN,https://en.wikipedia.org/wiki/Kaskaskia_College,3,5,2018-05-17,Centralia,USA
25401,2802557736,18923,south seminole hospital,South Seminole Hospital,grid.461495.b,NaN,https://en.wikipedia.org/wiki/South_Seminole_H...,1,3,2018-05-17,Longwood,USA
25402,2802694066,17968,st johns river state college,St Johns River State College,grid.469260.f,NaN,https://en.wikipedia.org/wiki/St._Johns_River_...,3,4,2018-05-17,Palatka,USA
25403,2802835943,13053,riken quantitative biology center,RIKEN Quantitative Biology Center,grid.474694.c,NaN,https://en.wikipedia.org/wiki/RIKEN_Quantitati...,250,3007,2018-05-17,Center,USA
25404,2802841168,16443,hawaii community college,Hawaii Community College,grid.468968.d,NaN,https://en.wikipedia.org/wiki/Hawaii_Community...,12,46,2018-05-17,Hilo,USA
25405,2802927936,16811,midland university,Midland University,grid.433315.3,NaN,http://en.wikipedia.org/wiki/Midland_University,8,30,2018-05-17,Fremont,USA
25406,2803097592,14021,hospital of southern norway,Hospital of Southern Norway,grid.452467.6,NaN,https://en.wikipedia.org/wiki/Hospital_of_Sout...,101,909,2018-05-17,Galle,LKA
25407,2819308370,19043,sisseton wahpeton college,Sisseton Wahpeton College,grid.422278.9,NaN,https://en.wikipedia.org/wiki/Sisseton_Wahpeto...,1,2,2018-07-19,Fairbanks,USA

In [123]:
affs_country.to_csv('/home/bob/gtd/Iconic/data/Affiliations_FC.txt', sep = '\t', index = False)

In [4]:
spark = SparkSession\
    .builder\
    .appName("IconicSparkPy")\
    .getOrCreate()

# Enable Arrow-based columnar data transfers
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

In [73]:
def read_dataframe(path):
    return spark.read.csv(DATA_DIR + path, sep = '\t', schema = affs_schema, mode = 'PERMISSIVE')

In [74]:
affs_schema = "id STRING, rank STRING, name STRING, dname STRING, grid STRING,\
    page STRING, wiki  STRING, papers  STRING, citations  STRING,\
	lat STRING, long STRING, createdAt STRING"

In [75]:
affs = read_dataframe('Affiliations.txt')
affs

DataFrame[id: string, rank: string, name: string, dname: string, grid: string, page: string, wiki: string, papers: string, citations: string, lat: string, long: string, createdAt: string]

In [70]:
s = affs.take(10)[3][0]
s
s.split('\t')
len(s.split('\t'))

'107371206\t12638\tsao paulo federal institute of education science and technology\tSão Paulo Federal Institute of Education'

['107371206',
 '12638',
 'sao paulo federal institute of education science and technology',
 'São Paulo Federal Institute of Education']

4

In [ ]:
papers = read_dataframe('Papers.txt')
authors = read_dataframe('Authors.txt')
fos = read_dataframe('FieldsOfStudy.txt')
affs = read_dataframe('Affiliations.txt')
paa = read_dataframe('PaperAuthorAffiliations.txt')
pf = read_dataframe('PaperFieldsOfStudy.txt')
pr = read_dataframe('PaperReferences.txt')
fc = read_dataframe('FieldOfStudyChildren.txt')

# Preliminaries
## Get root field of study

In [6]:
import pyspark.sql.functions as F
from pyspark.sql.functions import col

In [7]:
def computeRootFos( fieldId):
    filtered = fc.filter(col("child") == fieldId)
#     print(filtered.take(1))
    if len(filtered.take(1)) == 0:
        return fieldId
    parent = filtered.take(1)[0][0]
    if parent == fieldId:
#         print(parent)
        return parent
    else:
#         print('rec')
        return computeRootFos( parent)

In [8]:
computeRootFos(8105449)

12843

add the root field of study to each paper

In [9]:
from pyspark.sql import Row
pf.rdd.map(lambda row : Row(paper = row[0], fos = row[1], similarity = row[2])).toDF()
fields = pf.select("fos").distinct().collect()
fields = map(lambda field : {'fos' : field[0], 'root' :computeRootFos(field[0])}, fields)
fields = list(fields)

DataFrame[fos: bigint, paper: bigint, similarity: double]

In [10]:
fr = pd.DataFrame(fields)

define helper function to use the root dataframe for getting the root of a field id

In [12]:
from pyspark.sql.functions import udf
def getRootFos(fos):
    return fr[fr["fos"] == fos]["root"][0]

rootFos_udf = udf(lambda fos : getRootFos(fos))

In [13]:
from pyspark.sql.functions import lit
rootFos_udf(lit(124952713))
getRootFos(124952713)

Column<b'<lambda>(124952713)'>

124952713

## Aggregated new data

In [14]:
# ego country
authorDetails = paa.join(pf, "paper")\
    .select("author", "paper","affiliation", "fos")\
    .rdd.map(lambda row : Row(author = row[0], paper = row[1], affiliation = row[2], fos = getRootFos(row[3]))).toDF()\
    .groupBy("author", "fos", "affiliation")\
    .agg(F.countDistinct("paper"))\
    .join(MAG.dfAff, col("affiliation") == col("id"))\
    .select("author","fos","countryCode","country")

authorDetails

ValueError: RDD is empty

# Filtered tables

In [15]:
# FILTERED_PAA_YEARS
paa = paa.join(papers, col("id") == col("paper"))\
    .filter( (col("year") >= 2007) & (col("year") <= 2017))\
    .select("paper", "author", "affiliation")
paa

DataFrame[paper: int, author: bigint, affiliation: bigint]

In [16]:
# PF_WITH_ROOT
pf = pf.withColumn("root", rootFos_udf("fos"))
pf

DataFrame[paper: int, fos: bigint, similarity: double, root: string]

In [17]:
fos = 10
# FILTERED_PAA_FOS
paa = paa.join(pf, "paper")\
    .filter(col("root") == fos)\
    .select("paper", "author", "affiliation")
paa

DataFrame[paper: int, author: bigint, affiliation: bigint]

## Add test data

In [18]:
from pyspark.sql import Row

In [55]:
taffs = [(1, "RO") , (2, "EN"), (3, "IT")]
rdd = spark.sparkContext.parallelize(taffs)
rdd = rdd.map(lambda x : Row(id = x[0], countryCode = x[1]))
taffs = spark.createDataFrame(rdd)
taffs

DataFrame[countryCode: string, id: bigint]

In [56]:
tpaa = [(1, 2, 1),(1,3, 1),(2,3, 1),(2,1, 1),(3,2, 1),(1,5, 2),(3,3, 1),(3,5, 2),(4,7, 3)]
rdd = spark.sparkContext.parallelize(tpaa)
rdd = rdd.map(lambda x: Row(paper=int(x[0]), author=int(x[1]), affiliation = x[2]))
tpaa = spark.createDataFrame(rdd)
tpaa

DataFrame[affiliation: bigint, author: bigint, paper: bigint]

In [57]:
tpr = [(1,2), (3, 2), (3,4), (4, 1)]
rdd = spark.sparkContext.parallelize(tpr)
rdd = rdd.map(lambda x: Row(citing=int(x[0]), cited=int(x[1])))
tpr = spark.createDataFrame(rdd)
tpr

DataFrame[cited: bigint, citing: bigint]

In [58]:
tpapers = [ (1, 2007), (2,2008), (3,2008), (4,2009) ]
rdd = spark.sparkContext.parallelize(tpapers)
rdd = rdd.map(lambda x : Row(id = x[0], year = x[1]))
tpapers = spark.createDataFrame(rdd)
tpapers

DataFrame[id: bigint, year: bigint]

In [90]:
print('PAPER AUTHOR AFF')
tpaa.sort("author").collect()
print('PAPER REFERENCES')
tpr.sort("cited").collect()
print('PAPERS')
tpapers.collect()
print('COUNTRIES')
ego_country.select("author", "countryCode").distinct().collect()
print('COAUTHORS')
paa.alias("1").join(paa.alias("2"), col("1.paper") == col("2.paper"))\
    .filter(col("1.author") != col("2.author"))\
    .select(col("1.author").alias("ego"), col("2.author").alias("alter"))\
    .sort("ego")\
    .distinct()\
    .collect()

PAPER AUTHOR AFF

[Row(affiliation=1, author=1, paper=2),
 Row(affiliation=1, author=2, paper=1),
 Row(affiliation=1, author=2, paper=3),
 Row(affiliation=1, author=3, paper=1),
 Row(affiliation=1, author=3, paper=2),
 Row(affiliation=1, author=3, paper=3),
 Row(affiliation=2, author=5, paper=1),
 Row(affiliation=2, author=5, paper=3),
 Row(affiliation=3, author=7, paper=4)]

PAPER REFERENCES

[Row(cited=1, citing=4),
 Row(cited=2, citing=1),
 Row(cited=2, citing=3),
 Row(cited=4, citing=3)]

PAPERS

[Row(id=1, year=2007),
 Row(id=2, year=2008),
 Row(id=3, year=2008),
 Row(id=4, year=2009)]

COUNTRIES

[Row(author=3, countryCode='RO'),
 Row(author=1, countryCode='RO'),
 Row(author=7, countryCode='IT'),
 Row(author=5, countryCode='EN'),
 Row(author=2, countryCode='RO')]

COAUTHORS

[Row(ego=1, alter=3),
 Row(ego=2, alter=3),
 Row(ego=2, alter=5),
 Row(ego=3, alter=2),
 Row(ego=3, alter=5),
 Row(ego=3, alter=1),
 Row(ego=5, alter=2),
 Row(ego=5, alter=3)]

## New table head

In [60]:
paa = tpaa
pr = tpr
papers = tpapers
affs = taffs

In [67]:
# PAA_country
paa_country = paa.join(affs, col("affiliation") == col("id"))\
    .select("author", "paper", "affiliation", "countryCode")
paa_country.collect()

[Row(author=2, paper=1, affiliation=1, countryCode='RO'),
 Row(author=3, paper=1, affiliation=1, countryCode='RO'),
 Row(author=3, paper=2, affiliation=1, countryCode='RO'),
 Row(author=1, paper=2, affiliation=1, countryCode='RO'),
 Row(author=2, paper=3, affiliation=1, countryCode='RO'),
 Row(author=3, paper=3, affiliation=1, countryCode='RO'),
 Row(author=7, paper=4, affiliation=3, countryCode='IT'),
 Row(author=5, paper=1, affiliation=2, countryCode='EN'),
 Row(author=5, paper=3, affiliation=2, countryCode='EN')]

In [155]:
# EGO_Country
ego_country = paa_country.select("author", "countryCode").distinct()
ego_country.collect()

[Row(author=3, countryCode='RO'),
 Row(author=1, countryCode='RO'),
 Row(author=7, countryCode='IT'),
 Row(author=5, countryCode='EN'),
 Row(author=2, countryCode='RO')]

In [118]:
# EGO_papers
ego_papers = paa.groupBy(col("author").alias("ego")).count().withColumnRenamed("count","papers")
ego_papers.collect()

[Row(ego=7, papers=1),
 Row(ego=5, papers=2),
 Row(ego=1, papers=1),
 Row(ego=3, papers=3),
 Row(ego=2, papers=2)]

In [94]:
#EGO_citations
ego_citations = paa.join(pr, col("paper") == col("cited"))\
    .groupBy(col("author").alias("ego"))\
    .count().withColumnRenamed("count","citations")\

ego_citations.collect()

[Row(ego=7, citations=1),
 Row(ego=5, citations=1),
 Row(ego=1, citations=2),
 Row(ego=3, citations=3),
 Row(ego=2, citations=1)]

In [139]:
# EGO_PAIRS - paa join paa
paa2 = paa.alias("1").join(paa.alias("2"), col("1.paper") == col("2.paper"))\
    .filter(col("1.author") != col("2.author"))

In [143]:
#EGO_coauthors
from pyspark.sql.functions import countDistinct
paa2.groupBy("1.author")\
    .agg(F.countDistinct("2.author").alias("coauthors"))\
    .collect()

[Row(author=5, coauthors=2),
 Row(author=1, coauthors=1),
 Row(author=3, coauthors=3),
 Row(author=2, coauthors=2)]

In [145]:
# COAUTHORS
coauth = paa2\
    .select(col("1.author").alias("ego"), col("2.author").alias("alter"))\
    .distinct()
coauth.collect()

[Row(ego=3, alter=5),
 Row(ego=1, alter=3),
 Row(ego=2, alter=5),
 Row(ego=2, alter=3),
 Row(ego=5, alter=2),
 Row(ego=3, alter=2),
 Row(ego=5, alter=3),
 Row(ego=3, alter=1)]

In [146]:
#EGO_edges - numarul de ani in care am colaborat cu coautorii ? 
from pyspark.sql.functions import countDistinct
paa2.join(papers, col("id") == col("1.paper"))\
    .groupBy("1.author")\
    .agg(F.countDistinct("year").alias("years_collaborated"))\
    .collect()

[Row(author=5, years_collaborated=2),
 Row(author=1, years_collaborated=1),
 Row(author=3, years_collaborated=2),
 Row(author=2, years_collaborated=2)]

In [153]:
# ALTER_domestic
paa = paa_country
paa2.filter(col("1.countryCode") == col("2.countryCode"))\
    .groupBy("1.author")\
    .agg(F.countDistinct("2.author").alias("domestics"))\
    .collect()

[Row(author=1, domestics=1),
 Row(author=3, domestics=2),
 Row(author=2, domestics=1)]

In [149]:
# ALTER_nondomestic
# paa = ego_country
paa = tpaa
paa2.filter(col("1.countryCode") != col("2.countryCode"))\
    .groupBy("1.author")\
    .agg(F.countDistinct("2.author").alias("nondomestics"))\
    .collect()

[Row(author=5, nondomestics=2),
 Row(author=3, nondomestics=1),
 Row(author=2, nondomestics=1)]

In [137]:
# ALTER_citations - including ego's publications 
# we will substract ALTER_EGO_CITATIONS with_coauthors afterwards 
# # if we want to get ALTER_CITATIONS not including ego's publications
from pyspark.sql.functions import count
coauth.alias("1").join(ego_citations.alias("2"), col("1.alter") == col("2.ego"))\
    .groupBy(col("1.ego"))\
    .agg(F.sum("citations").alias("alter_citations"))\
    .collect()

[Row(ego=5, alter_citations=4),
 Row(ego=1, alter_citations=3),
 Row(ego=3, alter_citations=4),
 Row(ego=2, alter_citations=4)]

In [127]:
from pyspark.sql.functions import count, sum
#ALTER_papers - count total number of papers written by coauthors, including ego's publications
# # we can substract like above (ALTER_EGO_PAPERS)
coauth.alias("1").join(ego_papers.alias("2"), col("1.alter") == col("2.ego"))\
    .groupBy("1.ego")\
    .agg(F.sum("papers").alias("alter_papers"))\
    .collect()

[Row(ego=5, alter_papers=5),
 Row(ego=1, alter_papers=3),
 Row(ego=3, alter_papers=5),
 Row(ego=2, alter_papers=5)]

For below, we need a join that takes left elements that do not meet the condition with 0 default value

In [150]:
# ALTER_EGO_papers
paa2.groupBy("1.author")\
    .agg(F.countDistinct("1.paper").alias("papers_not_alone"))\
    .collect()

[Row(author=5, papers_not_alone=2),
 Row(author=1, papers_not_alone=1),
 Row(author=3, papers_not_alone=3),
 Row(author=2, papers_not_alone=2)]

In [151]:
# ALTER_EGO_citations
paa2.join(pr, col("1.paper") == col("cited"))\
    .groupBy("1.author")\
    .agg(F.countDistinct("citing").alias("citations"))\
    .collect()

[Row(author=5, citations=1),
 Row(author=1, citations=2),
 Row(author=3, citations=3),
 Row(author=2, citations=1)]

In [152]:
# ALTER_country
paa2.groupBy("1.author")\
    .agg(F.countDistinct("2.countryCode").alias("countries"))\
    .collect()

[Row(author=5, countries=1),
 Row(author=1, countries=1),
 Row(author=3, countries=2),
 Row(author=2, countries=2)]

In [136]:
# ALTER_MAX_papers
coauth.alias("1").join(ego_papers.alias("2"), col("1.alter") == col("2.ego"))\
    .groupBy("1.ego")\
    .agg(F.max("papers").alias("max_alter_papers"))\
    .collect()

[Row(ego=5, max_alter_papers=3),
 Row(ego=1, max_alter_papers=3),
 Row(ego=3, max_alter_papers=2),
 Row(ego=2, max_alter_papers=3)]

In [135]:
# ALTER_MAX_citations
coauth.alias("1").join(ego_citations.alias("2"), col("1.alter") == col("2.ego"))\
    .groupBy(col("1.ego"))\
    .agg(F.max("citations").alias("max_alter_citations"))\
    .collect()

[Row(ego=5, max_alter_citations=3),
 Row(ego=1, max_alter_citations=3),
 Row(ego=3, max_alter_citations=2),
 Row(ego=2, max_alter_citations=3)]